/* Copyright 2022-present Contributors to the colorpicker project.
 * SPDX-License-Identifier: BSD-3-Clause
 * https://github.com/mikaelsundell/colorpicker
 */

/* Top-level widgets */

QMainWindow,
QDialog
{
    background-color: hsl(220, 30%, 6%);
}

QDialog#editor
{
    background-color: hsl(220, 30%, 12%);
    border: 1 solid hsl(216, 7%, 100%);
}

/* QWidgets widgets */

QWidget#displayBar
{
    background-color: hsl(220, 30%, 12%);
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

QWidget#displayWidget
{
    background-color: hsl(220, 30%, 8%);
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

QWidget#colorsBar
{
    background-color: hsl(220, 30%, 12%);
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

QWidget#colorsWidget
{
    background-color: hsl(220, 30%, 8%);
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

QWidget#colorWheel
{
    background-color: hsl(220, 30%, 6%);
}

QWidget#mouseLocation
{
    background-color: hsl(0, 0%, 0%);
}

QWidget:checked#toggleActive
{
    padding: 2px;
    background-color: hsl(216, 82%, 47%);
    border: 1 solid hsl(216, 82%, 47%);
}

QWidget:checked#togglePin
{
    padding: 2px;
    background-color: hsl(216, 82%, 47%);
    border: 1 solid hsl(216, 82%, 47%);
}

/* QFrame widgets */

QFrame#view
{
    border: 1 solid hsl(216,7,29);
}

/* QToolButton widgets */

QToolButton#toggleActive
{
    padding: 2px;
}

QToolButton#togglePin
{
    padding: 2px;
}

QToolButton#toggleDisplay
{
    padding: 2px;
    background-color: transparent;
}

QToolButton#toggleColors
{
    padding: 2px;
    background-color: transparent;
}

/* QSlider widgets */

QSlider::groove:horizontal
{
    height: 5px;
    background-color: hsl(220, 8%, 15%);
    border: 1px solid black;
    border-radius: 3px;
    margin: 2px 0;
}

QSlider::sub-page:horizontal
{
    height: 5px;
    background-color: hsl(222, 6%, 30%);
    border: 1px solid black;
    border-radius: 4px;
    margin: 2px 0;
}

QSlider::handle:horizontal
{
    background: hsl(0, 0%, 59%);
    width: 13px;
    margin: -4px 0;
    border-radius: 6px;
}
