/* Copyright 2022-present Contributors to the colorpicker project.
 * SPDX-License-Identifier: BSD-3-Clause
 * https://github.com/mikaelsundell/colorpicker
 */

Colorpicker
{
    background-color: hsl(220,55,4);
}

QWidget#colorPicker
{
    background-color: hsl(220,55,12);
    border-radius: 5px;
}

QWidget#colorControls
{
    background-color: hsl(220,55,12);
    border-radius: 5px;
}


QWidget#colorWheel
{
    background-color: hsl(220,55,12);
    border-radius: 5px;
}

QWidget#mouseLocation
{
    background-color: hsl(0,0,0);
}

QLabel#live
{
    background-color: hsl(120,70,50);
    border-radius: 2px;
}

QToolButton#toggleActive
{
    padding: 2px;
}

QWidget:checked#toggleActive
{
    padding: 2px;
    background-color: hsl(120,55,60);
    border: 1 solid hsl(120,55,70);
}

Colorwheel
{
    background-color: hsl(220,55,12);
}
